<nz-layout>
    <nz-sider nzCollapsible nzWidth="200px">
      <div class="logo"></div>
      <!-- <ul nz-menu nzTheme="dark" nzMode="inline"> -->
        <li nz-menu-item>
          <span nz-icon nzType="desktop"></span>
          <span><a routerLink="/dashboard">Home</a></span>
        </li>
    
        <li nz-submenu nzTitle="User" nzIcon="user">
          <ul>
            <li nz-menu-item>
              <span><a routerLink="/users">Users</a></span>
            </li>
            <li nz-menu-item>
              <span><a routerLink="/login">Login</a></span>
            </li>
            <li nz-menu-item>
              <span><a routerLink="/register">Register</a></span>
            </li>
            
            <li nz-menu-item>
          
              <span><a (click)="logout()">logout</a></span>
            </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Colis" nzIcon="user">
        <ul>
          <li nz-menu-item>
              <span><a routerLink="/colis">Colis</a></span>
          </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Recipient" nzIcon="user">
        <ul>
          <li nz-menu-item>
              <span><a routerLink="/recipient">Recipient</a></span>
          </li>
        </ul>
      </li>
        
      <!-- </ul> -->
    </nz-sider>
    <nz-layout>
      <nz-header>
        
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item>/</nz-breadcrumb-item>
          <nz-breadcrumb-item></nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content"><router-outlet></router-outlet></div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>