.example-icon {
  padding: 0 14px;
}
/* #docregion toolbar-position-content-style */
.example-spacer {
  flex: 1 1 auto;
}
/* #enddocregion toolbar-position-content-style */

:host {
  display: block;
  //text-align: center;
  height: 100%;
}

nz-sider {
  
  li[nz-submenu] {
    margin: 0;
    padding: 0;
  
    ul {
      // list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    /* Style the menu items inside the submenu */
    li[nz-menu-item] {
      display: flex;
      align-items: center;
      padding: 10px 20px;
  
      a {
        color: white;
        text-decoration: none;
  
        &:hover {
          color: #1890ff; /* Change the color on hover */
        }
      }
  
      /* Add submenu-specific styles here */
    }
  }
  
  /* Style the menu items outside the submenu */
  li[nz-menu-item]:not([nz-submenu]) {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  
    a {
      color: white;
      text-decoration: none;
  
      &:hover {
        color: blue; /* Change the color on hover */
      }
    }
  
    /* Add non-submenu-specific styles here */
  }
  background: #0e4985;
  color: #fff;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #f0ad4e;
        }
      }
    }
  }

  &.nz-collapsed {
    width: 80px;

    li a {
      padding: 10px 0;
      text-align: center;

      i {
        font-size: 20px;
      }
    }
  }
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

nz-header {
  background: #2361a0;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 760px;
}

nz-footer {
  text-align: center;
}

nz-submenu{
  display: flex;
}