
<mat-toolbar color="primary">
    <!-- #docregion toolbar-row -->
    <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      
      <a routerLink="/login" mat-flat-button style="margin-left: 20px;">Login</a>
        
      <a routerLink="/register" mat-flat-button style="margin-left: 20px;">Register</a>
        
      <a routerLink="/admin" mat-flat-button style="margin-left: 20px;">Admin</a>

      <a routerLink="/users" mat-flat-button style="margin-left: 20px;" >Users</a>
    
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>