
<form nz-form [formGroup]="validateForm" >
        <nz-form-item>
          <nz-form-control nzSpan="24">
            <label nz-form-label>Field A</label>
            <input nz-input formControlName="fieldA" placeholder="input placeholder" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzSpan="24">
            <label nz-form-label>Field B</label>
            <input nz-input formControlName="filedB" placeholder="input placeholder" />
          </nz-form-control>
        </nz-form-item>
</form>
