<body>
    <!-- Navigation-->

    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
              <!-- Your logo goes here -->
              <img src="path/to/your/logo.png" alt="Logo" class="logo">
            </a>
          
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <button nz-button nzType="primary" nzShape="round">
                        <a class="nav-link text-light" href="#">Sign Up</a>
                    </button>
                </li>
              </ul>
            </div>
          </nav>
    </div>

    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5" style="color: white;">Package tracking made easy, you just need a tracking
                            number!</h1>
                        <form class="form-subscribe mb-2">
                            <!-- Email address input-->
                            <div class="input-group mb-3">
                                <input class="form-control" [formControl]="controlTrackNumber" id="TrackingNumber"
                                type="text" placeholder="Tracking Number" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                  <button type="button" class="btn btn-primary"
                                  style="background-color: crimson; border: none; " id="searchButton" type="submit"
                                  (click)="onSearch()">Search</button>
                                </div>
                              </div>

                              <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" type="button">Button</button>
                                </div>
                              </div>

                        </form>

                        <div class="card mt-2 p-2" *ngIf="shipmentStatus != null">

                            <div class="container">

                                <div class="row text-left align-items-start">

                                    <div class="row col-sm  align-items-start">

                                        <div class="col-sm mt-2 mb-4">
                                            DELIVERY STATUS
                                            <p class="h2">{{shipmentStatus.events[shipmentStatus.events.length -
                                                1].derivedStatus}}</p>
                                            <nz-page-header-content>
                                                <nz-page-header-tags>
                                                    <nz-tag class="p-1 mb-1" [nzColor]="'blue'"
                                                        *ngIf="shipmentStatus">{{
                                                        shipmentStatus.events[shipmentStatus.events.length - 1].date |
                                                        date: 'yyyy-MM-dd
                                                        HH:mm:ss'}}</nz-tag>
                                                </nz-page-header-tags>
                                            </nz-page-header-content>
                                        </div>

                                        <div class="col-sm mt-2">
                                            TRACKING ID
                                            <p class="h4">{{shipmentStatus.trackingNumber}}</p>
                                        </div>

                                        <br />
                                        <br />
                                        <br />

                                        <nz-page-header-content class="mb-6 mt-6">
                                            <nz-row nzType="flex">
                                                <nz-statistic nzTitle="From" *ngIf="shipmentStatus"
                                                    nzValue="{{ shipmentStatus.shipperAddress }}"></nz-statistic>
                                                <nz-statistic nzTitle="To" *ngIf="shipmentStatus"
                                                    nzValue="{{ shipmentStatus.recipientAddress }}"></nz-statistic>
                                            </nz-row>
                                        </nz-page-header-content>

                                        <br />
                                        <br />
                                        <br />

                                        <div class="mt-4 mb-4">
                                            <nz-page-header-content>

                                            <nz-row style="margin-top: 30px;">
                                                <nz-page-header-subtitle>Want updates on this shipment? Enter your email and we will do the
                                                  rest!</nz-page-header-subtitle>
                                                <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton" formControlName = "controlEmail">
                                                  <input type="text" nz-input placeholder="Your Email" />
                                                </nz-input-group>
                                                <ng-template #suffixButton style="padding: 0%;">
                                                  <button nz-button nzType="primary" nzSize="large" (click)="sendNotif()" nzSearch>Submit</button>
                                                </ng-template>
                                              </nz-row>
                                              </nz-page-header-content>
                
                                        
                                        </div>
                                        
                                        <br />
                                        <br />
                                        <br />

                                        <div class="d-flex align-items-start flex-column mt-8">

                                            <!-- Shipment overview -->
                                            <nz-page-header class="site-page-header">
                                                <nz-avatar [nzShape]="'square'" nz-page-header-avatar
                                                    nzSrc="assets/PicTranspo/approval.png"></nz-avatar>
                                                <nz-page-header-title
                                                    style="color: rgb(0, 0, 0); display: block;">Shipment
                                                    overview</nz-page-header-title>
                                            </nz-page-header>
                                            <table class="table table-striped ml-2">

                                                <!-- Tracking Number -->
                                                <tr>
                                                    <td class="font-weight-bold">TRACKING NUMBER</td>
                                                    <td>{{ shipmentStatus.trackingNumber }}</td>
                                                </tr>

                                                <!-- Ship Date -->
                                                <tr>
                                                    <td class="font-weight-bold">SHIP DATE</td>
                                                    <td>
                                                        {{ shipmentStatus.shippingDate | date: 'yyyy-MM-dd HH:mm:ss'
                                                        }}
                                                    </td>
                                                </tr>

                                                <!-- Standard Transit -->
                                                <tr>
                                                    <td class="font-weight-bold">STANDARD TRANSIT</td>
                                                    <td>
                                                        {{ shipmentStatus.standardTransitTimeWindow | date:
                                                        'yyyy-MM-dd
                                                        HH:mm:ss' }}
                                                    </td>
                                                </tr>

                                                <!-- Actual Delivery -->
                                                <tr>
                                                    <td class="font-weight-bold">ACTUAL DELIVERY</td>
                                                    <td>
                                                        {{ shipmentStatus.actualDelivery | date: 'yyyy-MM-dd
                                                        HH:mm:ss'
                                                        }}
                                                    </td>
                                                </tr>

                                            </table>

                                            <!-- Packege Detail -->
                                            <nz-page-header class="site-page-header">
                                                <nz-avatar [nzShape]="'square'" nz-page-header-avatar
                                                    nzSrc="assets/PicTranspo/package.png"></nz-avatar>
                                                <nz-page-header-title
                                                    style="color: rgb(0, 0, 0); display: block;">Package
                                                    Details</nz-page-header-title>
                                            </nz-page-header>
                                            <table class="table table-striped ml-2">

                                                <!-- Count -->
                                                <tr>
                                                    <td class="font-weight-bold">Count</td>
                                                    <td>{{ shipmentStatus?.packageDetails?.count }}</td>
                                                </tr>

                                                <!-- Weight -->
                                                <tr>
                                                    <td class="font-weight-bold">Weight</td>
                                                    <td>
                                                        {{ shipmentStatus?.packageDetails?.weight?.value }} {{
                                                        shipmentStatus?.packageDetails?.weight?.unit }}
                                                    </td>
                                                </tr>

                                                <!-- Dimension -->
                                                <tr>
                                                    <td class="font-weight-bold">Dimension</td>
                                                    <td>
                                                        {{ shipmentStatus?.packageDetails?.dimension?.length }} x
                                                        {{ shipmentStatus?.packageDetails?.dimension?.width }} x
                                                        {{ shipmentStatus?.packageDetails?.dimension?.height }}
                                                        {{ shipmentStatus?.packageDetails?.dimension?.units }}
                                                    </td>
                                                </tr>

                                                <!-- Packaging -->
                                                <tr>
                                                    <td class="font-weight-bold">Packaging</td>
                                                    <td>{{ shipmentStatus?.packageDetails?.packaging }}</td>
                                                </tr>

                                            </table>
                                        </div>

                                    </div>

                                    <div class="col">
                                        <div>
                                            <div class="inner-box">
                                                <nz-steps [nzCurrent]="this.shipmentStatus.events.length" nzProgressDot
                                                    nzDirection="vertical">
                                                    <nz-step *ngFor="let event of shipmentStatus.events; let i = index"
                                                        nzTitle="{{ event.derivedStatus }}"
                                                        nzDescription="{{ event.eventDescription }}">
                                                    </nz-step>
                                                </nz-steps>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <!-- Invesible------------------------------------------------------------>

                    </div>

                </div>
            </div>
        </div>
    </header>


    <!-- Icons Grid------------------------------------------------------------>
    <div class="nav1">
        <table id="table_nav1">
            <tr>
                <td>
                    <h1 style="color: #FFF; email-align: center;">BIENVENUE AU TRACK SHIP</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color: #FFF; text-align: center;">L’Association Sportive (MAROCES) compte parmi les
                        grandes associations sportives du Maroc.
                        Créé en 2002, il est situé en plein centre de MARRAKECH.
                        Les principales activités du club sont le basketball, la natation, aérobic, fitness.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;"><button id="readMore" value="Read More">Read More</button></td>
            </tr>
        </table>
    </div>

    <!-- ------------------------------------------------------ -->
    <div class="nav2">
        <table id="table_coach">
            <tr>
                <td style="text-align: center; padding: 0px 60px 0px 60px;">
                    <div class="container2">
                        <img src="../../../assets/PicTranspo/ae071b8fadd7cd3353ffb13b139959c9.jpg" alt="Avatar"
                            class="image">
                        <div class="overlay2">
                            <button id="ENTRAINEUR">
                                <a style="color: white; font-family: 'Poppins' sans-serif;" href="">FAST</a>
                            </button>
                        </div>
                    </div>
                </td>
                <td style="text-align: center; padding: 0px 60px 0px 60px;">
                    <div class="container2">
                        <img class="image" src="../../../assets/PicTranspo/ae071b8fadd7cd3353ffb13b139959c9.jpg">
                        <div class="overlay2">
                            <button id="ENTRAINEUR">
                                <a href="" style="color: white; font-family: 'Poppins' sans-serif;">EFICACE</a>
                            </button>
                        </div>
                    </div>
                </td>
                <td style="text-align: center; padding: 0px 60px 0px 60px;">
                    <div class="container2">
                        <img class="image" src="../../../assets/PicTranspo/ae071b8fadd7cd3353ffb13b139959c9.jpg">
                        <div class="overlay2">
                            <button id="ENTRAINEUR">
                                <a href="" style="color: white; font-family: 'Poppins' sans-serif;">GARENTIE</a>
                            </button>
                        </div>
                    </div>

                </td>
            </tr>


        </table>
    </div>

</body>