  <div class="cadreR">
    <!-- <nz-steps [nzCurrent]="1" nzProgressDot>
        <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
        <nz-step nzTitle="In Progress" nzDescription="This is a description."></nz-step>
        <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
    </nz-steps> -->
    
    <nz-divider nzOrientation="left" nzText="Status : "></nz-divider>
    <div nz-row [nzGutter]="[16, 24]">
      <div nz-col class="gutter-row" [nzSpan]="14">
        <div class="inner-box" style="background-color: white;">
          <nz-page-header class="site-page-header">
          <nz-avatar nz-page-header-avatar nzSrc="assets/PicTranspo/checkmark.png"></nz-avatar>
          <!--title-->
          <nz-page-header-title style="color: darkcyan; display: block;" *ngIf="shipmentStatus">{{ shipmentStatus.events[shipmentStatus.events.length - 1].derivedStatus }}</nz-page-header-title>
          <nz-row style="margin-top: 30px;">
            <nz-statistic nzTitle="Tracking Id : " nzValue="771473846105"></nz-statistic>
          </nz-row>          
          <!--subtitle-->
          <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->
    
          <!--tags-->
          <nz-page-header-content>
              <nz-page-header-tags style="margin-left: 40px;">
                <nz-tag [nzColor]="'blue'" *ngIf="shipmentStatus">{{ shipmentStatus.events[shipmentStatus.events.length - 1].date | date: 'yyyy-MM-dd HH:mm:ss'}}</nz-tag>
              </nz-page-header-tags>
          </nz-page-header-content>
          <!--extra-->
          <nz-page-header-content>
            <nz-row nzType="flex" style="margin-top: 30px;">
              <nz-statistic nzTitle="From" *ngIf="shipmentStatus" nzValue="{{ shipmentStatus.shipper.address.countryName }},{{ shipmentStatus.shipper.address.city }}"></nz-statistic>
              <nz-statistic nzTitle="To" *ngIf="shipmentStatus" nzValue="{{ shipmentStatus.recipient.address.countryName }},{{ shipmentStatus.recipient.address.city }}" style="margin: 0 100px"></nz-statistic>
            </nz-row>
            
            <nz-row style="margin-top: 30px;">
              <nz-page-header-subtitle>Want updates on this shipment? Enter your email and we will do the rest!</nz-page-header-subtitle>
              <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                <input type="text" nz-input placeholder="Your Email" />
              </nz-input-group>
              <ng-template #suffixButton style="padding: 0%;">
                <button nz-button nzType="primary" nzSize="large" nzSearch>Submit</button>
              </ng-template>
          </nz-row>
          </nz-page-header-content>
     
        </nz-page-header> 
        
        </div> 
    </div>
           

    
    <div nz-row [nzGutter]="[16, 24]">
      <div nz-col class="gutter-row" [nzSpan]="20" style="margin-top: 90px;">
        <div class="inner-box">
            <nz-steps  [nzCurrent]="this.shipmentStatus.events.length" nzProgressDot nzDirection="vertical" >
                <nz-step *ngFor="let event of shipmentStatus.events; let i = index" 
                    nzTitle="{{ event.derivedStatus }}" 
                    nzDescription="{{ event.eventDescription }}">
                </nz-step>
            </nz-steps>
          
        </div>
      </div>
    </div>

    <nz-divider nzOrientation="left" nzText="Shipment facts : "></nz-divider>
    <div nz-row [nzGutter]="[16, 24]">
      <div nz-col class="gutter-row" [nzSpan]="24">
        <div class="inner-box" style="background-color: white;">
          <nz-page-header class="site-page-header">

            <!-- Shipment overview -->

            <nz-avatar nz-page-header-avatar nzSrc="assets/PicTranspo/approval.png"></nz-avatar>
            <nz-page-header-title style="color: rgb(0, 0, 0); display: block;">Shipment overview</nz-page-header-title>
            <nz-page-header-content style="margin-left: 5%; margin-right: 20%;">
              <div nz-row style="background-color:  rgba(128, 128, 128, 0.08); width: 900px;">
                <div nz-col nzFlex="3" style="margin-right: -150px; margin-left: 50px;">TRACKING NUMBER</div>
                <div nz-col nzFlex="2" *ngIf="shipmentStatus"> {{shipmentStatus.trackingNumber}} </div>
              </div>
              <div nz-row style=" width: 900px;"> 
                <div nz-col nzFlex="3" style="margin-right: -150px; margin-left: 50px;">SHIP DATE</div>
                <div nz-col nzFlex="2" *ngIf="shipmentStatus"> {{ shipmentStatus.shipDate  | date: 'yyyy-MM-dd HH:mm:ss'}} </div>
              </div>
              <div nz-row style="background-color:  rgba(128, 128, 128, 0.08); width: 900px;"> 
                <div nz-col nzFlex="3" style="margin-right: -150px; margin-left: 50px;">Standard Transit</div>
                <div nz-col nzFlex="2" *ngIf="shipmentStatus"> {{ shipmentStatus.standardTransitTimeWindow  | date: 'yyyy-MM-dd HH:mm:ss'}} </div>
              </div>
              <div nz-row style=" width: 900px;">
                <div nz-col nzFlex="3" style="margin-right: -150px; margin-left: 50px;">ACTUAL DELIVERY</div>
                <div nz-col nzFlex="2" *ngIf="shipmentStatus"> {{ shipmentStatus.actualDelivery  | date: 'yyyy-MM-dd HH:mm:ss'}} </div>
              </div>
              
            </nz-page-header-content>nz-page-header-content>
          </nz-page-header> 

            <!-- Packege Detail -->
            <nz-page-header class="site-page-header" >
            <nz-avatar nz-page-header-avatar nzSrc="assets/PicTranspo/package.png"></nz-avatar>
            <nz-page-header-title style="color: rgb(0, 0, 0); display: block;">Package Details</nz-page-header-title>
            <nz-page-header-content style="margin-left: 5%; margin-right: 20%;">
              <div nz-row style="background-color:  rgba(128, 128, 128, 0.08); width: 900px;">
                <div nz-col nzFlex="3" style="margin-right: -150px; margin-left: 50px;">Count</div>
                <div nz-col nzFlex="2" *ngIf="shipmentStatus"> {{ shipmentStatus.packageDetails.count }}</div>
              </div>
              <div nz-row style=" width: 900px;">
                <div nz-col nzFlex="3" style="margin-right: -150px; margin-left: 50px;">Weight</div>
                <div nz-col nzFlex="2" *ngIf="shipmentStatus">{{ shipmentStatus.packageDetails.weight.value }} {{shipmentStatus.packageDetails.weight.unit}}</div>
              </div>
              <div nz-row style="background-color:  rgba(128, 128, 128, 0.08); width: 900px;">
                <div nz-col nzFlex="3" style="margin-right: -150px; margin-left: 50px;">Dimenstration</div>
                <div nz-col nzFlex="2" *ngIf="shipmentStatus">{{ shipmentStatus.packageDetails.dimension.length }} x {{shipmentStatus.packageDetails.dimension.width}} x {{shipmentStatus.packageDetails.dimension.height}} {{shipmentStatus.packageDetails.dimension.units}}</div>
              </div>
              <div nz-row style=" width: 900px;">
                <div nz-col nzFlex="3" style="margin-right: -150px; margin-left: 50px;">Packaging</div>
                <div nz-col nzFlex="2" *ngIf="shipmentStatus">{{ shipmentStatus.packageDetails.packaging }}</div> 
              </div>

            </nz-page-header-content>
          </nz-page-header> 
          
    </div>
     
   
    
        



  


    </div>
  </div>

  



















    <!-- <nz-switch [(ngModel)]="loading"></nz-switch>
    <nz-card style="width: 300px;margin-top: 16px" [nzLoading]="loading">
      <nz-card-meta
        [nzAvatar]="avatarTemplate"
        nzTitle="Colis"
        nzDescription="This is the description"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </ng-template> -->

   
    

 