    <nz-steps [nzCurrent]="1" nzProgressDot>
        <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
        <nz-step nzTitle="In Progress" nzDescription="This is a description."></nz-step>
        <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
    </nz-steps>
      <nz-divider></nz-divider>
    <div style="position: absolute;">
        <nz-steps [nzCurrent]="1" nzProgressDot nzDirection="vertical">
            <nz-step nzTitle="Finished" nzDescription="This is a description. This is a description."></nz-step>
            <nz-step nzTitle="Finished" nzDescription="This is a description. This is a description."></nz-step>
            <nz-step nzTitle="In Progress" nzDescription="This is a description. This is a description."></nz-step>
            <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
            <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
        </nz-steps>
    </div>
    <div style="background: #ffffff; padding: 30px; position: absolute; margin-left: 730px; margin-bottom: 0px;">
      <nz-progress [nzPercent]="75" nzType="circle"></nz-progress>
      <!-- <nz-progress [nzPercent]="70" nzType="circle" nzStatus="exception"></nz-progress>
      <nz-progress [nzPercent]="100" nzType="circle"></nz-progress> -->
    </div>



















    <!-- <nz-switch [(ngModel)]="loading"></nz-switch>
    <nz-card style="width: 300px;margin-top: 16px" [nzLoading]="loading">
      <nz-card-meta
        [nzAvatar]="avatarTemplate"
        nzTitle="Colis"
        nzDescription="This is the description"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </ng-template> -->

   
    

 