<button nz-button nzType="primary" type="button" (click)="showAddColis()">Ajouter</button>
<nz-modal [(nzVisible)]="isColisAddVisible" nzWidth=80% nzHeight=80% nzTitle="" (nzOnCancel)="addColisCancel()">
  <ng-container *nzModalContent>
    <app-ajout-colis (onColisCreated)="onColisCreated($event)"></app-ajout-colis>
  </ng-container>
  <div *nzModalFooter>
  </div>
</nz-modal>

<div class="card bg-dark">
  <nz-table #nestedTable [nzBordered]="true" [nzData]="dataSource.items" [nzTotal]="dataSource.meta.totalItems"
    [nzLoading]="dataSource == null" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>Colis</th>
        <th>Status</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Recipient</th>
        <th>Coutier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of dataSource.items">
        <td (click)="openColis(row)">
          <h6>{{ row.trackingNumber }}</h6>
          <p style="color: gray;"><small>{{ row.title }}</small></p>
        </td>
        <td>
          <nz-spin nzSimple *ngIf="!row?.status"></nz-spin>
          <nz-tag *ngIf="row.status">{{row.status}}</nz-tag>

        </td>
        <td>{{ row.countryOrigin }}</td>
        <td>{{ row.countryDestination }}</td>
        <td>{{ row.recipient.name }}</td>
        <td>{{ row.transporteur.nom }}</td>

        <td>
          <span nz-icon nzType="edit" nzTheme="twotone" (click)="toggleEdit(row)"></span>
          <!-- <nz-modal *ngIf = "isColisUpdateVisible" [(nzVisible)]="isColisUpdateVisible" nzWidth=80% nzHeight=80% nzTitle="" (nzOnCancel)="updateColisOk()">
            <ng-container *nzModalContent>
              <app-ajout-colis 
              [colisToEdit] = "row"
              (onColisUpdated)="onColisUpdated($event)"
              ></app-ajout-colis>
            </ng-container>
            <div *nzModalFooter>
            </div>
          </nz-modal> -->
        </td>

        <td (click)="deleteColis(row)">
          <span nz-icon nzType="delete" nzTheme="twotone"></span>
        </td>
      </tr>

    </tbody>
  </nz-table>
  <nz-pagination *ngIf="dataSource.meta" [nzTotal]="dataSource.meta.totalItems"
    [nzPageSize]="dataSource.meta.itemsPerPage" [nzPageSizeOptions]="[5, 10, 25, 100]"
    (nzPageIndexChange)="onPaginateChange($event)"></nz-pagination>
</div>