<div id="cadreA">

  <form nz-form [formGroup]="colisForm" (ngSubmit)="submitForm()" class="space-y-6">
    <div nz-row>
      <h1 nz-col [nzSpan]="24" class="mt-4">Colis</h1>

      <div nz-col nzSm="24" nzLg="12">
        <nz-form-item class="above-select">
          <nz-form-label [nzSm]="12" [nzXs]="24" nzFor="cTrackingNumber" nzRequired>Numero Suivi</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Tracking Numero!">
            <input nz-input formControlName="cTrackingNumber" id="cTrackingNumber"
              placeholder="e.g. C2G4HJEBHKJ23HJK678" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSm="24" nzLg="12">
        <nz-form-item class="above-select">
          <nz-form-label [nzSm]="8" [nzXs]="24">Transporteur</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">

            <nz-select formControlName="cTransporter" placeholder="Select a country Transporteur"
              nzPlaceHolder="Transporteur">
              <nz-option [nzLabel]="courierOptions[0].name" [nzValue]="courierOptions[0].name" nzHide></nz-option>
              <nz-option *ngFor="let courier of courierOptions" [nzValue]="courier.name"
                [nzLabel]="courier.name"></nz-option>

            </nz-select>
          </nz-form-control>

          <ng-template #customOptionTemplate let-courier>
            <ng-container>
              {{ courier.name }}
            </ng-container>
          </ng-template>
        </nz-form-item>
      </div>

      <div nz-col nzSm="24" nzLg="12">
        <nz-form-item class="above-select">
          <nz-form-label [nzSm]="8" [nzXs]="24">Origine Country</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">

            <nz-select [(ngModel)]="countryOrigin" formControlName="cCountryOrigin" nzShowSearch nzAllowClear
              nzPlaceHolder="Select Country">
              <nz-option *ngFor="let country of countries" [nzLabel]="country.name"
                [nzValue]="country.code"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

      </div>

      <div nz-col nzSm="24" nzLg="12">
        <nz-form-item class="above-select">
          <nz-form-label [nzSm]="8" [nzXs]="24">Destination Country</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">

            <nz-select [(ngModel)]="countryDestination" formControlName="cCountryDestination" nzShowSearch nzAllowClear
              nzPlaceHolder="Select Country">
              <nz-option *ngFor="let country of countries" [nzLabel]="country.name"
                [nzValue]="country.code"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

      </div>

      <div nz-col nzSm="24" nzLg="12">
        <nz-form-item class="above-select">
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="title">Title </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="cTitle" formControlName="cTitle" placeholder="e.g. Running shoes" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSm="24" nzLg="12">
        <nz-form-item class="above-select">
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="Order_Number">Order Number </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="orderNumber" formControlName="cOrderNumber" placeholder="e.g. 5885584" />
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <br />
    <br />
    <br />
    <br />

    <div nz-row>

      <h1 nz-col [nzSpan]="24">Recipient</h1><br />

      <div nz-col nzSm="24" nzLg="12">
        <nz-form-item class="above-select">
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="cRecipientName">Name </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Recipient Name!">
            <input nz-input id="Recipient Name" formControlName="cRecipientName" placeholder="e.g. hamza" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSm="24" nzLg="12">
        <nz-form-item class="above-select">
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="cRecipientCodePostal">Code Postal </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Recipient Post Code!">
            <input nz-input type="text" id="Recipient_Post_Code" formControlName="cRecipientCodePostal"
              placeholder="e.g. 84003" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSm="24" nzLg="12">
        <nz-form-item class="above-select">
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="phoneNumber">Phone Number</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your phone number!">
            <input formControlName="cRecipientNumTel" id="'cRecipientNumTel'" nz-input />

          </nz-form-control>
        </nz-form-item>

      </div>

      <div nz-col nzSm="24" nzLg="12">
        <nz-form-item class="above-select">
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="cRecipientEmail">Email </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Recipient Email!">
            <input nz-input id="cRecipientEmail" formControlName="cRecipientEmail"
              placeholder="e.g. recipient@email.com" />
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
    <br />

    <div nz-row class="mt-4">
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="24">
          <button nz-button nzType="primary" type="submit" [disabled]="!colisForm.valid">
            <p *ngIf="nzModalData">Update</p>
            <p *ngIf="!nzModalData">Create</p>

          </button>
        </nz-form-control>
      </nz-form-item>
    </div>


  </form>

</div>


<!-- Recipient -->