
<h1 style="text-align: center;">All Users</h1>
<nz-table #nestedTable [nzData]="dataSource.items" [nzPageSize]="10">
    <thead>
      <tr> 
        <th></th>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <!-- <ng-template ngFor let-row [ngForOf]="nestedTable.data" > -->
      <ng-template ngFor let-row [ngForOf]="dataSource.items" >
        <tr>
          <td nz-expand [(nzExpand)]="row.expand"></td>
          <td>{{ row.id }}</td>
          <td>{{ row.first_name }}</td>
          <td>{{ row.last_name }}</td>
          <td>{{ row.adresse }}</td>
          <td>{{ row.ville }}</td>
          <td>{{ row.email }}</td>
          <td (click)="navigateToProfile(row.id)">
            <span nz-icon nzType="edit" nzTheme="twotone"></span>
          </td>
        </tr>
        
      </ng-template>
        
    </tbody>
  </nz-table>

  <nz-pagination 
      [nzTotal]="dataSource.meta.totalItems"
      [nzPageSize]="dataSource.meta.itemsPerPage"
      [nzPageSizeOptions]="[5, 10, 25, 100]"
      (nzPageIndexChange)="onPaginateChange($event)"
  ></nz-pagination>

